<launch>

 <arg name="rvizconfig" default="$(find lab3)/rviz/urdf.rviz" />	
  <param name="robot_description" command="$(find xacro)/xacro.py $(find lab3)/dynamic.urdf" />
  <param name="use_gui" value="true"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="kdl_dkin" pkg="lab3" type="kdl_dkin" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
