<launch>

  <arg name="rvizconfig" default="$(find lab4)/rviz/urdf.rviz" />	
  <param name="robot_description" command="$(find xacro)/xacro.py $(find lab4)/dynamic.urdf" />
  <param name="use_gui" value="true"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="jint" pkg="lab4" type="jint" />
  <node name="jcmd" pkg="lab4" type="jcmd" output="screen"/>
</launch>
